# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Coverage data
.coverage
coverage.json
coverage.xml
coverage_html/
coverage_debug/

# JUnit XML
*.xml

# Generated test cases
old_tests/
eval/approaches/API/5_plan_then_code/results/security/P3/tmp_snippets/


# Editor settings
.vscode/
.idea/

# MacOS metadata
.DS_Store

# Ignore requests library. Clone inside project root and run pip install -e requests/ to use it 
requests/

#Notebooks
.ipynb_checkpoints/

#Security jsons
eval/results/security/P*/json 